@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffefc;
  --primary: #100100;
  --secondary: #80663c;
  --button-base: #fdf4dc;
  --link-icon: #a88f61;
  --link-icon-active: #766444;
}

.dark {
  --background: #0a0a0a;
  --primary: #ededed;
  --secondary: #80663c;
}

body {
  color: var(--primary);
  background: var(--background);
  font-family: var(--font-inter);
}

.menu-list::before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent var(--button-base) transparent;
}
