@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffefc;
  --secondary: #80663c;
  --button: #fdf4dc;
  --button-hover: #fcefcb;
  --button-active: #fbe8b6;
  --button-pressed-shadow-dark: #e6dec8;
  --button-pressed-shadow-light: #fffff0;
  --link-icon: #a88f61;
  --link-icon-active: #766444;
}

.dark {
  --background: #1f2429;
  --secondary: #d3c6aa;
  --button: #313940;
  --button-hover: #39444b;
  --button-active: #424e57;
  --button-pressed-shadow-dark: #2a3036;
  --button-pressed-shadow-light: #38424a;
  --link-icon: #cbbb9a;
  --link-icon-active: #e0d6c2;
}

body {
  background: var(--background);
  font-family: var(--font-inter);
}

.menu-list::before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent var(--button) transparent;
}

.heading-link {
  text-decoration: none;
}

.heading-link:hover {
  text-decoration: underline;
}

.loading-animation {
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}

span[data-line] {
  padding: 0 16px;
}

span[data-highlighted-line] {
  background-color: #38424a;
  position: relative;
}

span[data-highlighted-line]::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #7fbbb3;
}
